@layer components {
  .alert {
    @apply mb-10 flex items-center rounded-lg p-1;

    .alert--badge {
      @apply mr-3 rounded-full px-2.5 py-0.5 text-sm font-medium text-light;
    }

    .alert--content {
      @apply inline-flex text-sm font-medium;
    }

    &.alert-error {
      @apply bg-error-100;

      .alert--badge {
        @apply bg-error;
      }

      .alert--content {
        @apply text-error;
      }
    }

    &.alert-warning {
      @apply bg-warning-100;

      .alert--badge {
        @apply bg-warning;
      }

      .alert--content {
        @apply text-warning;
      }
    }

    &.alert-info {
      @apply bg-info-100;

      .alert--badge {
        @apply bg-info;
      }

      .alert--content {
        @apply text-info;
      }
    }

    &.alert-success {
      @apply bg-success-100;

      .alert--badge {
        @apply bg-success;
      }

      .alert--content {
        @apply text-success;
      }
    }

    &.alert-feature {
      @apply bg-primary-100;

      .alert--badge {
        @apply bg-primary text-tertiary;
      }

      .alert--content {
        @apply text-dark;
      }
    }

    &.alert-arrow {
      .alert--content {
        /* @apply after:content-['➔']; */
        @apply after:my-0.5 after:ml-2 after:block after:h-3.5 after:w-3.5 after:bg-contain after:bg-right after:bg-no-repeat;
      }

      &.alert-error {
        .alert--content {
          &::after {
            background-image: url(../img/icons/arrow-right-color-error.svg);
          }
        }
      }

      &.alert-warning {
        .alert--content {
          &::after {
            background-image: url(../img/icons/arrow-right-color-warning.svg);
          }
        }
      }

      &.alert-info {
        .alert--content {
          &::after {
            background-image: url(../img/icons/arrow-right-color-info.svg);
          }
        }
      }

      &.alert-success {
        .alert--content {
          &::after {
            background-image: url(../img/icons/arrow-right-color-success.svg);
          }
        }
      }

      &.alert-feature {
        .alert--content {
          &::after {
            background-image: url(../img/icons/arrow-right-color-tertiary.svg);
          }
        }
      }
    }
  }
}
