.swiper-button-prev,
.swiper-button-next {
  @apply text-body absolute z-1 top-1/2 -translate-y-1/2 -mt-spacer-1.5;

  &::after,
  &::after {
    @apply hidden;
  }
}

.monz-swiper-gallery {
  @apply before:block before:absolute before:top-0 before:bottom-0 before:-left-spacer-2 before:w-spacer-2 before:bg-light before:z-10;
  @apply after:block after:absolute after:top-0 after:bottom-0 after:-right-spacer-2 after:w-spacer-2 after:bg-light after:z-10;

  figcaption {
    @apply hidden;
  }

  .swiper-slide-active {
    figcaption {
      @apply block;
    }
  }
}

/* :root {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-pagination-bullet {
  @apply !border !border-primary;
} */
