---
title: Book 03 The Game of Confusion
date: 2019-02-28
excerpt: "Excerpt for Book 03 A Philosophical Novel at the Navel of Philosophy by Hellmut Monz"
coverPhoto: {
                "webP": "/img/pexels-pixabay-301614-640x427.webp",
                "webP2x": "/img/pexels-pixabay-301614-640x427@2x.webp",
                "jpg": "/img/pexels-pixabay-301614-640x427.jpg",
                "jpg2x": "/img/pexels-pixabay-301614-640x427@2x.jpg",
                "height": "medium",
                "figureBackgroundColor": "bg-success",
                "figcaption": "Back View of Astronauts Holding Hands"
            }
permalink: /work/books/book-03-project-read-arbitrary-title/
tags: ["work", "books", "shop", "projectOne"]
categories: ["books", "project one"]
price: "$11.11 - $44.50"
projectDetails:
  Language: "English"
  Pages: 770
  ISBN: "978-3-16-148410-0"
  DOI: "10.1080/15588742.2015"
bookDetailsReviews:
  - text: “No, don’t quote me.”
    source: Enzo Ledoux, PhD, author Le Pantalon
  - text: “Can’t talk now.”
    source: Luke Horowitz, cashier Coles
  - text: “Sorry, haven’t read it yet.”
    source: Vy Lee, neighbour Coburg
  - text: “Who gave you my WhatsApp?”
    source: Sandra Welrim, director Wurst
  - text: “Stop asking me for a review!”
    source: Ashley Garcia, author Fishless
---

{# NOTE: the slug itself can be anything, doesn't have to include `book-03` neither `project-read` permalink: /work/books/book-03-project-read-arbitrary-title/ #}

{# NOTE: the layout should be extended this way in order for the blocks/slots to work #}
{% extends 'layouts/project-read.njk' %}

{% block abstract %}
    <p>When knowing clarity without confusion, how could you know knowing from believing? What you know may only be what you believe.</p>
    <p>Let’s play this game: Can I confuse you into thinking that the entire universe is one point? Help! That is what my housemates did to me. If you don’t win this game, our world will kepp spiralling into senselessness.</p>
{% endblock %}

{% block researchStatement %}
    <h2 class="font-serif normal-case mb-spacer-3">Research Statement</h2>
    <h3 class="uppercase">Background</h3>
    <p>“The Game of Confusion: At the Navel of Philosophy” by Hellmut Monz is a
groundbreaking trans-fictional and trans-philosophical novel that confuses the
line between fiction and non-fiction, thereby questioning the relationship
between knowledge and belief in a novel way. The textual work is an
artefact of doing and living philosophy, exploring the creative practice of
philosophy through a transial engagement with existence and the world.
Embodying the notion of transality, the work blends and interrogates the
relation between the autobiography of the author and the philosophical
teachings lived through the literary figures created by the creative
philosophers Plato, Friedrich Nietzsche, and Alfred Jarry. The central question
the work of creative philosophy raises is: how can one distinguish between
knowing and believing without confusing clarity with confusion?</p>

    <h3 class="uppercase mt-spacer-2">Contribution</h3>
    <p>Monz’s work makes a significant contribution to the field of creative
philosophy by demonstrating a remarkable level of sophistication through its
use of transality. The book offers a new and innovative way of thinking
about the relationship between knowledge and belief. By using the period as
a metaphor for cutting through confusion, Monz
challenges the
methodologies of knowledge, encouraging readers to think without limits.</p>
    <p>The book’s originality lies in its ability to bridge the gap between fiction and
non-fiction, imagination and reality, and belief and truth. It and offers a new
direction for practice, research, and scholarship. The work inspires readers to
think creatively and to explore the boundaries of what is possible in the field
of philosophy.</p>
    <p>In summary, “The Game of Confusion: At the Navel of Philosophy” is a
game-changing work of textual creativity that challenges readers to think
differently about the relationship between knowledge and belief. It has the
potential to inspire new directions for practice, research, and scholarship in
the field of creative philosophy, making it an important contribution to the field.</p>
{% endblock %}