---
title: Books
excerpt: "TODO: Books"
layout: layouts/category.njk
permalink: /work/books/
category: books
coverPhoto.figureBackgroundColor: bg-success
eleventyNavigation:
  key: Books
  parent: Work
  url: /work/books/
---