---
title: Doc
layout: layouts/base.njk
permalink: /doc/
description: TODO
eleventyNavigation:
  key: Doc
  order: 3
  icon: doc
---

<section class='pb-section-sm bg-dark text-light'>
  <div class="h-spacer-46 bg-info">
    {# TODO: image placeholder #}
    {# <figure>
            <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset"/>
            <figcaption>An elephant at sunset</figcaption>
        </figure> #}
  </div>

  <div class='monz-container'>

    <div class="monz-grid">
      <div class="monz-col-6 pt-spacer-3">
        <h1 class="mb-spacer-3">{{ title }}</h1>
        <p class="lead">Hellmut Monz <button type="button" data-modal-target="modal-layout-01" data-modal-toggle="modal-layout-01" class="link-underline text-primary">open modal</button> doc ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>

        <h2 class="mt-spacer-5 mb-spacer-3">2022</h2>
        {# NOTE: the content comes from collections.year2022 which is annotated by `tags: ["year2022", ...` #}
        {% set posts = collections.year2022 | reverse %}
        {% include "components/category.njk" %}

        <h2 class="mt-spacer-5 mb-spacer-3">2017-21</h2>
        {# NOTE: the content comes from collections.year2017to2021 which is annotated by `tags: ["year2017to2021", ...` #}
        {% set posts = collections.year2017to2021 | reverse %}
        {% include "components/category.njk" %}

        <h2 class="mt-spacer-5 mb-spacer-3">2013-17</h2>
        {# NOTE: the content comes from collections.year2013to2017 which is annotated by `tags: ["year2013to2017", ...` #}
        {% set posts = collections.year2013to2017 | reverse %}
        {% include "components/category.njk" %}

        <h2 class="mt-spacer-5 mb-spacer-3">Pre 2001</h2>
        {# NOTE: the content comes from collections.pre2001 which is annotated by `tags: ["pre2001", ...` #}
        {% set posts = collections.pre2001 | reverse %}
        {% include "components/category.njk" %}

      </div>
    </div>

    <div class="monz-grid mt-spacer-7">
      <div class="monz-col-2 lg:col-start-3">
        {% include "components/pagination.njk" %}
      </div>
    </div>
  </div>
</section>