{% if posts.length > 0 %}
    <ul class="{% if numberOfColumns is defined and numberOfColumns !== '' and numberOfColumns == 2 %}lg:columns-2{% elif numberOfColumns is defined and numberOfColumns !== '' and numberOfColumns == 1 %}lg:columns-1{% else %}lg:columns-3{% endif %} gap-spacer-2">
        {% for post in posts %}
            {% if post.data.title is defined and post.data.title !== '' %}
                {# TODO: <div class="monz-col-2"> #}
                <li class="mb-spacer-2">
                    <article class="break-inside-avoid-column">
                        <figure class="mb-spacer-1">
                            {% if post.data.coverVideo is defined and post.data.coverVideo !== '' %}
                                <div class="{% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                                    {% set coverVideo = post.data.coverVideo %}
                                    {% include "components/video-example.njk" %}
                                </div>
                            {% else %}
                                {# NOTE: keeping for the default syntax <div class="h-spacer-{{ post.data.coverPhoto.height | default('14') }} bg-success mb-spacer-1"> #}
                                <div class="{% if post.data.coverPhoto.height == 'small' %}h-spacer-14{% elif post.data.coverPhoto.height == 'medium' %}h-spacer-21{% elif post.data.coverPhoto.height == 'large' %}h-spacer-33{% else %}h-spacer-14{% endif %} {{ figureHeight }} {% if post.data.coverPhoto.figureBackgroundColor is defined and post.data.coverPhoto.figureBackgroundColor !== '' %}{{ post.data.coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                                    {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                                    {% set pictureObject = post.data.coverPhoto %}
                                    {% include "components/picture-example.njk" %}
                                </div>
                            {% endif %}

                            {# NOTE: optional caption #}
                            {# {% if post.data.coverPhoto.figcaption is defined and post.data.coverPhoto.figcaption !== '' %}
                                <figcaption class="mt-spacer-1">Back View of Astronauts Holding Hands</figcaption>
                            {% endif %} #}
                        </figure>
                        <h3>
                            <a href="{{ post.data.permalink }}" class="stretched-link">{{ post.data.title }}</a>
                        </h3>
                        <p>{{ post.data.description }}</p>
                        <ul class="list-separator-dot text-muted">
                            {% for category in post.data.categories %}
                                <li class="uppercase">{{ category }}</li>
                            {% endfor %}
                        </ul>
                        {% if post.data.price is defined and post.data.price !== '' %}
                            <p class="h3">{{ post.data.price }}</p>
                        {% endif %}
                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p class="text-spacer-1 leading-loose">No posts found.</p>
{% endif %}