{% if posts.length > 0 %}
    <ul class="{% if numberOfColumns is defined and numberOfColumns !== '' and numberOfColumns == 2 %}lg:columns-2{% elif numberOfColumns is defined and numberOfColumns !== '' and numberOfColumns == 1 %}lg:columns-1{% else %}lg:columns-3{% endif %} gap-spacer-2">
        {% for post in posts %}
            {% if post.data.title is defined and post.data.title !== '' %}
                {# TODO: note to self for later if we want to change the CSS columns <div class="monz-col-2"> #}
                <li class="mb-spacer-2">
                    <article class="break-inside-avoid-column">
                        <figure class="mb-spacer-1">
                            {% if post.data.coverVideo is defined and post.data.coverVideo !== '' %}
                                <div class="{% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                                    {% set coverVideo = post.data.coverVideo %}
                                    {% include "components/video-example.njk" %}
                                </div>
                            {% else %}

                                {% if post.data.layout != 'layouts/post-layout-no-cover.njk' %}
                                    {# NOTE: keeping for the default syntax <div class="h-spacer-{{ post.data.coverPhoto.height | default('14') }} bg-success mb-spacer-1"> #}
                                    <div class="{% if post.data.coverPhoto.height == 'small' %}h-spacer-14{% elif post.data.coverPhoto.height == 'medium' %}h-spacer-21{% elif post.data.coverPhoto.height == 'large' %}h-spacer-33{% else %}h-spacer-14{% endif %} {{ figureHeight }} {% if post.data.coverPhoto.figureBackgroundColor is defined and post.data.coverPhoto.figureBackgroundColor !== '' %}{{ post.data.coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                                        {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                                        {% set pictureObject = post.data.coverPhoto %}
                                        {% include "components/picture-example.njk" %}
                                    </div>
                                {% endif %}
                            {% endif %}

                            {# NOTE: optional caption but captions are not shown in article/post lists #}
                            {# {% if post.data.coverPhoto.figcaption is defined and post.data.coverPhoto.figcaption !== '' %}
                                <figcaption class="mt-spacer-1">Back View of Astronauts Holding Hands</figcaption>
                            {% endif %} #}
                        </figure>

                        {# NOTE: <h3>+<p> or just <p class="text-spacer-1 leading-loose"> if titleHidden==true #}
                        {% if post.data.titleHidden is defined and post.data.titleHidden == true %}
                            <p class="text-spacer-1 leading-loose">
                                <a href="{{ post.data.permalink }}" class="stretched-link">{{ post.data.excerpt }}</a>
                            </p>
                        {% else %}
                            {% if post.data.layout != 'layouts/post-layout-no-cover.njk' %}
                                <h3>
                                    <a href="{{ post.data.permalink }}" class="stretched-link">{{ post.data.title }}</a>
                                </h3>
                                <p>{{ post.data.excerpt }}</p>
                            {% else %}
                                <h3 class="h2 font-serif normal-case">
                                    <a href="{{ post.data.permalink }}" class="stretched-link">{{ post.data.title }}</a>
                                </h3>
                                <p class="text-spacer-1 leading-loose">{{ post.data.excerpt }}</p>
                            {% endif %}
                        {% endif %}

                        {# NOTE: categories, the last <li> being the date #}
                        <ul class="list-separator-dot text-muted whitespace-nowrap">
                            {% for category in post.data.categories %}
                                <li class="uppercase">{{ category }}</li>
                            {% endfor %}
                            <li>{{ post.data.date.toDateString().slice(4) }}</li>
                        </ul>

                        {# NOTE: the price will be shown if exists/defined in the post's meta data #}
                        {% if post.data.price is defined and post.data.price !== '' %}
                            <p class="h3">{{ post.data.price }}</p>
                        {% endif %}
                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p class="text-spacer-1 leading-loose">No posts found.</p>
{% endif %}