{% if posts.length > 0 %}
    <ul class="lg:columns-3 gap-spacer-2">
        {% for post in posts %}
            {% if post.data.title is defined and post.data.title !== '' %}
                {# TODO: <div class="monz-col-2"> #}
                <li>
                    <article class="break-inside-avoid-column">
                        {# TODO: class for Tailwind JIT compiler: .h-spacer-14 .h-spacer-21 .h-spacer-22 .h-spacer-25 .h-spacer-33 #}
                        <div class="{% if post.data.coverPhoto.height == 'small' %}h-spacer-14{% elif post.data.coverPhoto.height == 'medium' %}h-spacer-21{% elif post.data.coverPhoto.height == 'large' %}h-spacer-33{% else %}h-spacer-14{% endif %} bg-success mb-spacer-1">
                            {# NOTE: keeping for the default syntax <div class="h-spacer-{{ post.data.coverPhoto.height | default('14') }} bg-success mb-spacer-1"> #}
                            <figure class="h-full">
                                {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                                {% set pictureObject = post.data.coverPhoto %}
                                {% include "components/picture-example.njk" %}
                                {# NOTE: optional caption #}
                                {# <figcaption>Back View of Astronauts Holding Hands</figcaption> #}
                            </figure>
                        </div>
                        <h3>
                            <a href="{{ post.data.permalink }}" class="stretched-link">{{ post.data.title }}</a>
                        </h3>
                        <p>{{ post.data.description }}</p>
                        <ul class="list-separator-dot text-muted">
                            {% for tag in post.data.tags %}
                                <li class="uppercase">{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No posts found.</p>
{% endif %}