<button type='button' id="course-content-menu" class="transition-all lg:absolute right-0 mb-spacer-1 bg-primary text-body p-spacer-1 flex justify-between">
    <h2 class="whitespace-nowrap leading-none transition-all">Course content</h2>
    <div class="h2 leading-none">
        <svg class="monz-icon-close-x w-spacer-2 h-spacer-2 lg:absolute lg:right-spacer-2" aria-hidden="true" width="16" height="16">
            <use href="/img/icons/dist/sprite.svg#icon-close-x"></use>
        </svg>
        <svg class="monz-icon-toc-expand w-spacer-2 h-spacer-2 lg:absolute lg:right-spacer-2" aria-hidden="true" width="16" height="16">
            <use href="/img/icons/dist/sprite.svg#icon-arrow-left"></use>
        </svg>
    </div>
</button>