{% for item in pagination.pages %}
    {% if loop.index == 1 %}
        {# NOTE: get the first item from the collection which is the introduction #}
        <h3 class="link-underline {% if page.url == pagination.hrefs[ loop.index0 ] %}link-underline-active{% endif %} leading-loose">
            <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ item.data.title }}</a>
        </h3>
    {% endif %}
{% endfor %}

<div id="accordion-collapse" data-accordion="collapse" class="text-light">
    {% for section in sections %}
        <h4 id="accordion-heading-{{ loop.index }}">
            <button type="button" class="text-base text-light bg-transparent leading-loose flex items-center justify-between w-full" data-accordion-target="#accordion-body-{{ loop.index }}" aria-expanded="false" aria-controls="accordion-body-{{ loop.index }}">
                <span>{{ section.chapter }}. {{ section.title }}</span>
                <svg data-accordion-icon class="w-spacer-1/2 h-spacer-1/2 ml-spacer-1 rotate-180 transition-transform shrink-0" aria-hidden="true" width="16" height="16">
                    <use href="/img/icons/dist/sprite.svg#icon-caret-down"></use>
                </svg>
            </button>
        </h4>
        <ul id="accordion-body-{{ loop.index }}" class="hidden pl-spacer-1.5" aria-labelledby="accordion-heading-{{ loop.index }}">
            {% set chapterIndex = 1 %}
            {% set parentIndex = loop.index %}
            {# NOTE: generic loop, not working but keep it for reference #}
            {# {% for item in collections.course17 %}
                {% if item.data.section == parentIndex %}
                    <li>
                        <a href="{{ item.url }}" class="link-underline {% if page.url == item.url %}link-underline-active{% endif %}">{{ item.chapter }}
                            {{ parentIndex }}.{{ loop.index - 1 }}
                            {{ item.data.title }}</a>
                    </li>
                {% endif %}
            {% endfor %} #}

            {# NOTE: loop over the course17's defined pagination object (defined in /src/pages/work/movies/course17-pagination.njk) #}
            {% for item in pagination.pages %}
                {% if item.data.section == parentIndex %}
                    <li>
                        <a href="{{ pagination.hrefs[ loop.index0 ] }}" class="link-underline {% if page.url == pagination.hrefs[ loop.index0 ] %}link-underline-active{% endif %}">{{ item.chapter }}
                            {{ parentIndex }}.{{ chapterIndex }}
                            {{ item.data.title }}</a>
                    </li>
                    {% set chapterIndex = chapterIndex + 1 %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% for item in pagination.pages %}
    {% if loop.index == pagination.pages | length %}
        {# NOTE: get the last item from the collection which is the conclusion #}
        <h3 class="link-underline {% if page.url == pagination.hrefs[ loop.index0 ] %}link-underline-active{% endif %} leading-loose">
            <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ item.data.title }}</a>
        </h3>
    {% endif %}
{% endfor %}