{# NOTE: downward facing triangles #}
<div class='monz-container relative -z-1'>
    {# NOTE: granular/"pixel"/square grid to count the individual squares, rather than the high level 6 columns #}
    <div class="grid grid-cols-30 lg:grid-cols-96 text-[0px] -mb-spacer-1">
        <div class="col-span-2 lg:col-span-7">&nbsp;</div>
        <div class="col-span-2 lg:col-span-12">&nbsp;</div>
        <div class="col-span-1 lg:col-span-2">&nbsp;</div>
        <div class="col-span-2 lg:col-span-12">&nbsp;</div>
        <div class="col-span-2 lg:col-span-2 flex justify-center">
            <svg class="relative -top-1 w-spacer-1 h-spacer-1 text-dark" aria-hidden="true" width="16" height="16">
                <use href="/img/icons/dist/sprite.svg#icon-triangle-down"></use>
            </svg>
        </div>
        <div class="col-span-5 lg:col-span-12">&nbsp;</div>
        <div class="col-span-2 lg:col-span-2">&nbsp;</div>
        <div class="col-span-5 lg:col-span-12">&nbsp;</div>
        <div class="col-span-2 lg:col-span-2 flex justify-center">
            <svg class="relative -top-1 w-spacer-1 h-spacer-1 text-dark" aria-hidden="true" width="16" height="16">
                <use href="/img/icons/dist/sprite.svg#icon-triangle-down"></use>
            </svg>
        </div>
    </div>
</div>