<footer class='bg-dark text-light text-center'>
  <div class='monz-container'>
    <div class="monz-grid">
      <div class="monz-col-2 lg:col-start-3">
        <img src="/img/logo-monz.svg" alt='Hellmut MONZ' width='515' height='125' class="w-full h-auto my-spacer-3"/>
        <p class="leading-none mb-spacer-1">Subscribe to a monztrous newsletter.</p>
        <form class="mb-spacer-3" id="newsletter">
          <label class="block">
            <input type="email" class="rounded-none block w-full mb-spacer-1" placeholder="Your Email Address" required aria-label="Your Email Address">
          </label>
          <button type="submit" class="bg-primary block w-full uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">Subscribe</button>
        </form>
        <p class="leading-none mb-spacer-1">
          <a href="#" class="link-underline">youtube</a>
          <a href="#" class="link-underline">github</a>
          <a href="#" class="link-underline">instagram</a>
          <a href="#" class="link-underline">spotify</a>
        </p>
        <p class="leading-none mb-spacer-1">
          <a href="#" class="link-underline">Terms & conditions</a>
        </p>
        <p class="leading-none mb-spacer-1">Copyright © Hellmut Monz. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>