<div class='monz-container bg-yellow-200'>
    <div class="monz-grid h-5">
        <div class="monz-col-1 bg-slate-400 h-full"></div>
        <div class="monz-col-1 bg-slate-400 h-full"></div>
        <div class="monz-col-1 bg-slate-400 h-full"></div>
        <div class="monz-col-1 bg-slate-400 h-full"></div>
        <div class="monz-col-1 bg-slate-400 h-full"></div>
        <div class="monz-col-1 bg-slate-400 h-full"></div>
    </div>
    <div class="monz-grid mt-spacer-2 h-5">
        <div class="monz-col-1 bg-slate-400 h-full"></div>
        <div class="monz-col-2 bg-slate-400 h-full"></div>
        <div class="monz-col-3 bg-slate-400 h-full"></div>
    </div>
</div>