<div id="dropdownNotifications" class="z-10 hidden bg-white rounded-lg shadow min-w-[100vw] lg:w-[390px] lg:min-w-[390px]">
    <div class="mt-8 px-4 flex items-center justify-between">
        <h2>Notifications</h2>
        <button id="dropdownNotificationsButtonClose">
            <svg class="w-6 h-6 text-tertiary lg:hidden" aria-hidden="true">
                <use href="/img/icons/dist/sprite.svg#x-circle"></use>
            </svg>
            <span class="sr-only">close the menu</span>
        </button>
    </div>
    <ul class="px-4 mt-4 h-vh-minus-header lg:h-auto lg:max-h-vh-minus-header overflow-y-auto" aria-labelledby="dropdownNotificationsButton">
        {% for item in[1, 2, 3] %}
            <li class="border-b border-gray-300">
                <div class="flex my-6">
                    <img
                src='https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
                alt='Profile picture'
                width='48'
                height='48'
                class='h-12 w-12 rounded-full mr-4 shrink-0 object-cover'/>
                    <div class="">
                        <p class="mb-4">Lyle Kaufmann has registered for the following pickleball event and thought you might be interested in joining.</p>
                        <p class="font-bold text-tertiary mb-2">Open Play: Mixed | Doubles Play</p>
                        <div class="flex items-center mb-2">
                            <svg class="w-4 h-4 text-tertiary mr-2" aria-hidden="true">
                                <use href="/img/icons/dist/sprite.svg#map-pin"></use>
                            </svg>
                            <a href="#">Hempstead Lake</a>
                        </div>
                        <div class="flex items-center mb-2">
                            <svg class="w-4 h-4 text-tertiary mr-2" aria-hidden="true">
                                <use href="/img/icons/dist/sprite.svg#calendar"></use>
                            </svg>
                            <span>Tuesday, May 5, 2023</span>
                        </div>
                        <div class="flex items-center mb-2">
                            <svg class="w-4 h-4 text-tertiary mr-2" aria-hidden="true">
                                <use href="/img/icons/dist/sprite.svg#clock"></use>
                            </svg>
                            <span>8:30 AM to 10:00 AM</span>
                        </div>
                        <div class="flex items-center mb-6">
                            <svg class="w-4 h-4 text-tertiary mr-2" aria-hidden="true">
                                <use href="/img/icons/dist/sprite.svg#dollar-sign"></use>
                            </svg>
                            <span>$30.00 Members / $40.00 Associates</span>
                        </div>
                        <div class="flex gap-4 mb-4">
                            <button class="btn btn-primary-outline">Decline</button>
                            <button class="btn btn-primary">Add to cart</button>
                        </div>
                        <p class="font-bold text-sm text-blac">1 day ago</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>