<div id="confirmationModal{{ item.id }}" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- confirmation modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- confirmation modal body -->
            <div class="p-5 lg:p-6 text-center">
                <div class="inline-flex mx-auto bg-[#E9F3EA] rounded-full h-12 w-12 items-center justify-center mb-5">
                    <svg class="w-5 h-5" aria-hidden="true">
                        <use href="/img/icons/dist/sprite.svg#check-circle"></use>
                    </svg>
                </div>
                <p class="lead font-semibold">
                    {{ item.modalConfirmationTitle }}
                </p>
                <p class="text-sm mt-2 mb-8">
                    {{ item.modalConfirmationText }}
                </p>
                <button data-modal-hide="confirmationModal{{ item.id }}" type="submit" class="btn btn-primary w-full">Ok</button>
            </div>
        </div>
    </div>
</div>