<header>
  <div class='bg-primary text-dark py-spacer-mobile1 lg:py-spacer-desktop1'>
    <div class='layout px-0'>
      <div class="grid grid-cols-30 lg:grid-cols-96">
        <div class="col-span-26 col-start-3 lg:col-span-82 lg:col-start-8">
          <p class="leading-none">
            <a href="#" class="link-underline font-bold text-body uppercase">Check out this news!</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='bg-dark text-light'>
    <div class='layout px-0'>
      <div class="grid grid-cols-30 lg:grid-cols-96 uppercase items-center justify-center">
        <div class="col-span-26 col-start-3 lg:col-span-12 lg:col-start-8 flex">
          <a
          href='/' class="mx-auto lg:mx-0"
        >
            <img src="/img/logo-m.svg" alt='Hellmut MONZ logo' width='130' height='48' class="w-auto h-spacer-mobile2 lg:h-spacer-desktop2 my-spacer-mobile3 lg:my-spacer-desktop3"/>
          </a>
        </div>
        <div class="lg:col-span-2 hidden lg:block"></div>

        {% set navPages = collections.all | eleventyNavigation %}
        {% for entry in navPages %}
          {% if entry.includeSelf != false %}
            <div class="lg:col-span-12 hidden lg:block">
              <a href="{{ entry.url }}"
            class="link-underline text-top-navbar font-sans {{'text-dark hover:text-muted' if entry.url in page.url else 'text-light'}}">
                {{ entry.title }}
              </a>
            </div>
            <div class="lg:col-span-2 hidden lg:block"></div>
          {% endif %}
        {% endfor %}

        <div class="lg:col-span-12 justify-end gap-spacer-desktop2 hidden lg:flex">
          <button
          type='button'
          aria-label='menu'
        >
            <svg class="w-spacer-desktop2 h-spacer-desktop2 text-light" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <button
          type='button'
          aria-label='menu'
          class="relative"
        >
            <svg class="w-spacer-desktop3 h-spacer-desktop3 -mt-spacer-desktop1 text-light" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-cart"></use>
            </svg>
            <span class="absolute flex items-center justify-center top-0 bottom-0 left-0 right-0 font-sans text-center text-spacer-desktop1">0</span>
          </button>
          <button
          type='button'
          aria-label='menu'
        >
            <svg class="w-spacer-desktop2 h-spacer-desktop2 text-light" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-fullscreen"></use>
            </svg>
          </button>
        </div>
        <div class="col-span-2 lg:col-span-7 h-spacer-mobile2 lg:h-spacer-desktop2">
          <button
          type='button'
          aria-label='menu'
          id="burger-menu"
          class="-ml-spacer-mobile2 lg:ml-spacer-desktop2"
        >
            <svg class="w-spacer-mobile2 lg:w-spacer-desktop2 h-spacer-mobile2 lg:h-spacer-desktop2 text-light" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-hamburger"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class='layout px-0'>
    <div class="grid grid-cols-30 lg:grid-cols-96">
      <div class="col-span-2 lg:col-span-7">&nbsp;</div>
      <div class="col-span-2 lg:col-span-12">&nbsp;</div>
      <div class="col-span-1 lg:col-span-2">&nbsp;</div>
      <div class="col-span-2 lg:col-span-12">&nbsp;</div>
      <div class="col-span-2 lg:col-span-2 flex justify-center">
        <svg class="relative -top-1 w-spacer-mobile1 h-spacer-mobile1 lg:w-spacer-desktop1 lg:h-spacer-desktop1 text-dark" aria-hidden="true">
          <use href="/img/icons/dist/sprite.svg#icon-triangle-down"></use>
        </svg>
      </div>
      <div class="col-span-5 lg:col-span-12">&nbsp;</div>
      <div class="col-span-2 lg:col-span-2">&nbsp;</div>
      <div class="col-span-5 lg:col-span-12">&nbsp;</div>
      <div class="col-span-2 lg:col-span-2 flex justify-center">
        <svg class="relative -top-1 w-spacer-mobile1 h-spacer-mobile1 lg:w-spacer-desktop1 lg:h-spacer-desktop1 text-dark" aria-hidden="true">
          <use href="/img/icons/dist/sprite.svg#icon-triangle-down"></use>
        </svg>
      </div>
    </div>
  </div>
</header>