<header class="fixed left-0 right-0 top-0 z-1">
  {# NOTE: optional news stripe #}
  {% include "components/news.njk" %}

  <div class='monz-navbar bg-dark text-light'>
    <div class='monz-container'>
      <div class="monz-grid uppercase items-center justify-center relative gap-0 lg:gap-spacer-2">
        <div class="flex">
          <a
          href='/' class="mx-auto lg:mx-0"
        >
            <img src="/img/logo-m.svg" alt='Hellmut MONZ logo' width='130' height='48' class="w-auto h-spacer-2 my-spacer-3"/>
          </a>
        </div>

        {# NOTE: the content comes from src/_data/dummyPlayers.json #}
        {# {% for player in dummyPlayers.players %}
          <div class="flex gap-4">
            {% if player.avatar is defined and player.avatar !== '' %}
              <img src="{{ player.avatar }}" class="w-10 h-10 rounded-full shrink-0 object-cover" alt="{{ player.name }}">
            {% else %}
          </div>
        {% endfor %} #}

        {% set navPages = collections.all | eleventyNavigation %}
        {% for entry in navPages %}
          {% if entry.includeSelf != false %}
            <div class="x-hidden lg:block lg:relative">
              {# <a href="{{ entry.url }}"
            class="link-underline text-top-navbar font-sans {{'text-dark hover:text-muted' if entry.url in page.url else 'text-light'}}">
                {{ entry.title }}
              </a> #}

              <button id="dropdown{{ entry.title }}Button" data-dropdown-toggle="dropdown{{ entry.title }}" class="link-underline text-top-navbar uppercase font-sans inline-flex items-center {{'text-muted' if entry.url in page.url else 'text-light'}}" type="button">
                {{ entry.title }}
                <svg class="w-spacer-1/2 h-spacer-1/2 ml-spacer-1" aria-hidden="true">
                  <use href="/img/icons/dist/sprite.svg#icon-caret-down"></use>
                </svg>
              </button>

              {# NOTE: dropdown menu #}
              {% if entry.children.length %}
                <div id="dropdown{{ entry.title }}" class="monz-dropdown !static !transform-none lg:!inset-auto lg:!top-spacer-5 lg:!absolute z-10 hidden lg:bg-gray-100 w-spacer-12">
                  <ul class="p-spacer-1 text-spacer-1" aria-labelledby="dropdown{{ entry.title }}Button">
                    {% for child in entry.children %}
                      <li>
                        <a href="{{ child.url }}" class="block lg:text-body link-underline mb-spacer-1">{{ child.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

        <div class="justify-end lg:gap-spacer-2 flex flex-col lg:flex-row right-0">

          <button
          type='button'
          aria-label='menu'
          class="x-hidden lg:block mt-spacer-4 lg:mt-0"
        >
            <svg class="w-spacer-2 h-spacer-2 text-light hidden lg:block" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-search"></use>
            </svg>
            <span class="lg:sr-only font-sans uppercase text-top-navbar">Search</span>
          </button>

          <button
          type='button'
          aria-label='menu'
          class="x-hidden lg:block relative"
        >
            <svg class="w-spacer-3 h-spacer-3 -mt-spacer-1 text-light hidden lg:block" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-cart"></use>
            </svg>
            <span class="lg:sr-only font-sans uppercase text-top-navbar">Cart</span>
            <span class="hidden lg:flex absolute items-center justify-center top-0 bottom-0 left-0 right-0 font-sans text-center text-spacer-1">0</span>
          </button>

          <button
          type='button'
          aria-label='menu'
          class="hidden lg:block"
        >
            <svg class="w-spacer-2 h-spacer-2 text-light" aria-hidden="true">
              <use href="/img/icons/dist/sprite.svg#icon-fullscreen"></use>
            </svg>
            <span class="sr-only">Full screen</span>
          </button>

          <button
          type='button'
          aria-label='menu'
          id="burger-menu"
          class="absolute right-0 top-spacer-3 mr-spacer-2 lg:right-spacer-1"
        >
            <svg class="w-spacer-2 h-spacer-2 text-light" aria-hidden="true" data-icon-hamburger>
              <use href="/img/icons/dist/sprite.svg#icon-hamburger"></use>
            </svg>
            <svg class="w-spacer-2 h-spacer-2 text-light" aria-hidden="true" data-icon-close>
              <use href="/img/icons/dist/sprite.svg#icon-close"></use>
            </svg>
            <span class="sr-only">Menu</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  {# NOTE: downward facing triangles #}
  {% include "components/downward-facing-triangles.njk" %}
</header>