<div class='bg-primary text-dark py-spacer-1' id="newsbar">
    <div class='monz-container'>
        <div class="monz-grid">
            <p>
                <a href="#" class="link-underline font-bold text-body uppercase">Check out this news!</a>
            </p>
        </div>
    </div>
</div>