{# NOTE: pagination https://www.11ty.dev/docs/pagination/nav/ and https://www.11ty.dev/docs/pagination/#}
<nav aria-label="Pagination">
    <ul class="flex justify-between">
        <li class="grow">
            {% if page.url != pagination.href.first %}
                <a href="{{ pagination.href.first }}" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">
                    <span class="sr-only">First</span>&lt;&lt;</a>
            {% else %}
                <span class="bg-primary text-muted block uppercase p-spacer-1 text-left text-spacer-1 leading-none">
                    <span class="sr-only">First</span>&lt;&lt;</span>
            {% endif %}
        </li>
        <li>
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">Prev</a>
            {% else %}
                <span class="bg-primary text-muted block uppercase p-spacer-1 text-left text-spacer-1 leading-none">Prev</span>
            {% endif %}
        </li>
        <li>
            <span class="bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">…</span>
        </li>
        {%- for pageEntry in pagination.pages %}
            <li>
                <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none {% if page.url == pagination.hrefs[ loop.index0 ] %}link-underline-active{% endif %}">{{ loop.index }}</a>
            </li>
        {%- endfor %}
        <li>
            <span class="bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">…</span>
        </li>
        <li>
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-right text-spacer-1 leading-none whitespace-nowrap">Next</a>
            {% else %}
                <span class="bg-primary text-muted block uppercase p-spacer-1 text-right text-spacer-1 leading-none whitespace-nowrap">Next</span>
            {% endif %}
        </li>
        <li class="grow">
            {% if page.url != pagination.href.last %}
                <a href="{{ pagination.href.last }}" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-right text-spacer-1 leading-none whitespace-nowrap">
                    <span class="sr-only">Last</span>&gt;&gt;</a>
            {% else %}
                <span class="bg-primary text-muted block uppercase p-spacer-1 text-right text-spacer-1 leading-none whitespace-nowrap">
                    <span class="sr-only">Last</span>&gt;&gt;</span>{% endif %}
        </li>
    </ul>
</nav>