{# NOTE: pagination https://www.11ty.dev/docs/pagination/nav/ #}
<nav aria-label="Pagination">
    <ul class="flex justify-between">
        <li class="grow">
            <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none whitespace-nowrap">&lt;&lt; Prev</a>
        </li>
        <li>
            <span class="bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">…</span>
        </li>
        <li>
            <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">43</a>
        </li>
        <li>
            <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">44</a>
        </li>
        <li>
            <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">45</a>
        </li>
        <li>
            <span class="bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">…</span>
        </li>
        <li class="grow">
            <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-right text-spacer-1 leading-none whitespace-nowrap">Next &gt;&gt;</a>
        </li>
    </ul>
</nav>