<ul class="flex gap-2">
    {# TODO (CSS): social icons from Figma #}
    <li>
        <button type="button">
            <svg class="w-6 h-6" aria-hidden="true">
                <use href="/img/icons/dist/sprite.svg#facebook"></use>
            </svg>
            <span class="sr-only">Facebook</span>
        </button>
    </li>
    <li>
        <button type="button">
            <svg class="w-6 h-6" aria-hidden="true">
                <use href="/img/icons/dist/sprite.svg#twitter"></use>
            </svg>
            <span class="sr-only">Twitter</span>
        </button>
    </li>
    <li>
        <button type="button">
            <svg class="w-6 h-6" aria-hidden="true">
                <use href="/img/icons/dist/sprite.svg#instagram"></use>
            </svg>
            <span class="sr-only">Instagram</span>
        </button>
    </li>
    <li>
        <button type="button">
            <svg class="w-6 h-6" aria-hidden="true">
                <use href="/img/icons/dist/sprite.svg#clipboard"></use>
            </svg>
            <span class="sr-only">Copy to clipboard</span>
        </button>
    </li>
</ul>