<section class='bg-dark text-light text-sm py-section-sm-mobile lg:py-section-sm-desktop'>
    <div class='container-custom px-0 py-spacer-mobile1 lg:py-spacer-desktop1'>
        <div class="grid w-full lg:grid-cols-6 px-spacer-mobile2 lg:px-spacer-desktop7 gap-spacer-mobile2 lg:gap-spacer-desktop2">
            <div class="lg:col-span-6">
                <h2>About</h2>
            </div>
            <div class="lg:col-span-2">
                <div class="bg-light pt-spacer-mobile3 lg:pt-spacer-desktop3 pb-spacer-mobile2 lg:pb-spacer-desktop2">
                    <img src="/img/logo-hellmut-monz.svg" alt='Hellmut MONZ' width='260' height='390' class="w-1/2 h-auto mx-auto mb-spacer-mobile1 lg:mb-0"/>
                </div>
            </div>
            <div class="lg:col-span-4">
                <p class="lead">Hellmut Munz is lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue vehicula dui, ut tempus arcu posuere ac. Vestibulum eu magna semper, porttitor libero.</p>
            </div>
            <div class="lg:col-span-2 lg:col-start-3">
                <a href="#" class="mt-spacer-mobile2 lg:mt-spacer-desktop2 link-underline bg-primary block uppercase p-spacer-mobile1 lg:p-spacer-desktop1 text-left text-spacer-mobile1 lg:text-spacer-desktop1 leading-none text-body">More about Hellmut --&gt;</a>
            </div>
        </div>
    </div>
</section>