<section class='py-section-sm bg-dark text-light'>
    {# NOTE: in case bottom border is required: .border-b .border-muted #}
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h2 class="mb-spacer-2">About</h2>
            </div>
            <div class="monz-col-2">
                <div class="bg-light pt-spacer-3 pb-spacer-2 mb-spacer-3">
                    <img src="/img/logo-hellmut-monz.svg" alt='Hellmut MONZ' width='260' height='390' class="w-1/2 h-auto mx-auto mb-spacer-1 lg:mb-0"/>
                </div>
            </div>
            <div class="monz-col-4">
                <p class="text-lg leading-relaxed">Hellmut Munz is lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue vehicula dui, ut tempus arcu posuere ac. Vestibulum eu magna semper, porttitor libero.</p>
            </div>
            <div class="monz-col-2 lg:col-start-3">
                <a href="/about" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">More about Hellmut --&gt;</a>
            </div>
        </div>
    </div>
</section>