<section class='py-section-sm bg-dark text-light border-t border-muted'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-5">
                <h2 class="font-serif normal-case">Chapter #{{ pagination.pageNumber }} Description</h2>
                {# NOTE: variation a)
                    <p>{{ chapterDescription }}</p>
                #}

                {# NOTE: variation b)
                    {% for item in pagination.items %}
                        <p>{{ item.data.chapterDescription }}</p>
                    {% endfor %}
                #}

                {# NOTE: variation c) #}
                {% set currentItem = pagination.pages[pagination.pageNumber] %}
                <p>{{ currentItem.data.chapterDescription }}</p>
            </div>
        </div>

        <div class="monz-grid mt-spacer-7">
            <div class="monz-col-2 lg:col-start-3">
                {% include "components/pagination.njk" %}
            </div>
        </div>
    </div>
</section>