<section class='py-section-sm bg-dark text-light border-b border-muted'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h2>Doc</h2>
            </div>
            <div class="monz-col-6">
                {# NOTE: the content comes from collections.shop which is annotated by `tags: ["shop", ...` #}
                {% set posts = collections.doc.slice(0, 2) %}
                {# NOTE: individual posts have different cover photo heights but `figureHeight` overrides it for all posts, same for `figureBackgroundColor` #}
                {% set figureHeight = "!h-spacer-29" %}
                {% set figureBackgroundColor = "!bg-info" %}
                {% set numberOfColumns = 2 %}
                {% include "components/article-list.njk" %}
            </div>
            
            <div class="monz-col-2 lg:col-start-3">
                <a href="/doc" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">View more posts --&gt;</a>
            </div>
        </div>
    </div>
</section>