<section class='bg-white lg:pt-section pb-section-sm'>
    <div class='monz-container relative flex flex-col items-center justify-center text-center'>
        {# NOTE: every page requires a <h1>, even if it is visually hidden with <h1 clas="sr-only"> for accessibility/SEO reasons #}
        <h1 class='sr-only'>Hellmut MONZ The Digital Philosopher</h1>
        <div class="monz-grid">
            <div class="monz-col-3 lg:order-2">
                <img src="/img/logo-hellmut-monz-big.svg" alt='Hellmut MONZ' width='800' height='338' class="w-full h-auto mt-spacer-3 lg:mt-0 mb-spacer-2 lg:mb-0"/>
            </div>
            <div class="monz-col-2 lg:order-1">
                <img src="/img/logo-hellmut-monz.svg" alt='Hellmut MONZ' width='260' height='390' class="w-1/2 h-auto mx-auto mb-spacer-1 lg:mb-0"/>
            </div>
        </div>
        <div class="monz-grid">
            <div class="lg:col-span-1 lg:col-start-4">
                {# NOTE: link vs. button #}
                <a href="#" class="link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none">A link --&gt;</a>
                {# <button type="button" data-modal-target="modal-gallery" data-modal-toggle="modal-gallery" class="link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none w-full">A button --&gt;</button> #}
            </div>
            <div class="monz-col-6">
                <img src="/img/ocean.svg" alt='Hellmut MONZ' width='1690' height='121' class="mt-section-sm" />
            </div>
        </div>
    </div>
</section>