<section class='bg-white lg:py-section-desktop'>
    <div class='container-custom relative flex flex-col items-center justify-center text-center'>
        <h1 class='sr-only'>Hellmut MONZ The Digital Philosopher</h1>
        <div class="grid w-full lg:grid-cols-6 px-spacer-mobile2 lg:px-spacer-desktop7 lg:gap-spacer-desktop2">
            <div class="lg:col-span-3 lg:order-2">
                <img src="/img/logo-hellmut-monz-big.svg" alt='Hellmut MONZ' width='800' height='338' class="w-full h-auto mt-spacer-mobile3 lg:mt-0 mb-spacer-mobile2 lg:mb-0"/>
            </div>
            <div class="lg:col-span-2 lg:order-1">
                <img src="/img/logo-hellmut-monz.svg" alt='Hellmut MONZ' width='260' height='390' class="w-1/2 h-auto mx-auto mb-spacer-mobile1 lg:mb-0"/>
            </div>
        </div>
        <div class="grid w-full lg:grid-cols-6 px-spacer-mobile2 lg:px-spacer-desktop7 pb-section-sm-mobile lg:pb-section-sm-desktop lg:gap-spacer-desktop2">
            <div class="lg:col-span-1 lg:col-start-4">
                <a href="#" class="link-underline bg-primary block uppercase p-spacer-mobile1 lg:p-spacer-desktop1 text-left text-spacer-mobile1 lg:text-spacer-desktop1 leading-none">A link --&gt;</a>
            </div>
        </div>
        <div class="grid w-full lg:grid-cols-6 px-spacer-mobile2 lg:px-spacer-desktop7 lg:gap-spacer-desktop2">
            <div class="lg:col-span-6">
                <img src="/img/ocean.svg" alt='Hellmut MONZ' width='1690' height='121' class="mb-spacer-mobile3 lg:mb-0"/>
            </div>
        </div>
    </div>
</section>