<section class='bg-dark text-light'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6 mb-spacer-2 lg:mb-0">
                <h2 id="join" class="monz-anchor-offset font-serif normal-case">Content</h2>
                <p>This course has six chapters:</p>
                <ul>
                    <li>Introduction</li>
                    <li>1. The Philosopher’s Key</li>
                    <li>2. The Philosopher’s Lock</li>
                    <li>3. Philosophy 101</li>
                    <li>4. The River Riddle</li>
                    <li>5. The Killer Riddle</li>
                    <li>6. Truth or Joke?</li>
                    <li>Conclusion</li>
                </ul>
            </div>
            <div class="monz-col-2 lg:col-start-3">
                <a href="#" class="link-underline block bg-primary uppercase p-spacer-1 text-left text-spacer-1 text-body leading-none">Start course --&gt;</a>
            </div>
        </div>
    </div>
</section>