<section class='py-section-sm bg-dark text-light'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h2 class="mb-spacer-2">Media</h2>

                <div class="mb-spacer-2">
                    {% set slidesHeight = 'h-spacer-14' %}
                    {% set slidesData = [
                  {
                    'webP': '/img/pexels-rdne-stock-project-8474487-640x424.webp',
                    'webP2x': '/img/pexels-rdne-stock-project-8474487-640x424@2x.webp',
                    'jpg': '/img/pexels-rdne-stock-project-8474487-640x424.jpg',
                    'jpg2x': '/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg',
                    'caption': 'Slide 1'
                  }, {
                    'webP': '/img/pexels-oleksandr-tiupa-192136-640x427.webp',
                    'webP2x': '/img/pexels-oleksandr-tiupa-192136-640x427@2x.webp',
                    'jpg': '/img/pexels-oleksandr-tiupa-192136-640x427.jpg',
                    'jpg2x': '/img/pexels-oleksandr-tiupa-192136-640x427@2x.jpg',
                    'caption': 'Slide 2'
                  }, {
                    'webP': '/img/pexels-daniel-cid-17505905-640x448.webp',
                    'webP2x': '/img/pexels-daniel-cid-17505905-640x448@2x.webp',
                    'jpg': '/img/pexels-daniel-cid-17505905-640x448.jpg',
                    'jpg2x': '/img/pexels-daniel-cid-17505905-640x448@2x.jpg',
                    'caption': 'Slide 3'
                  }, {
                    'webP': '/img/pexels-daniel-cid-17505905-640x448.webp',
                    'webP2x': '/img/pexels-daniel-cid-17505905-640x448@2x.webp',
                    'jpg': '/img/pexels-daniel-cid-17505905-640x448.jpg',
                    'jpg2x': '/img/pexels-daniel-cid-17505905-640x448@2x.jpg',
                    'caption': 'Slide 4'
                  }
                ] %}
                    {% include "components/swiper.njk" %}
                </div>

                <h3 class="h2 font-serif normal-case">Book Cover</h3>
                <p>
                    <a href="#" class="link-underline text-primary">Download Web Quality</a><br/>
                    <a href="#" class="link-underline text-primary">Download Print Quality</a>
                </p>

                <h3 class="h2 font-serif normal-case mt-spacer-2">Author Images</h3>
                <p>
                    <a href="#" class="link-underline text-primary">Download Web Quality</a><br/>
                    <a href="#" class="link-underline text-primary">Download Print Quality</a>
                </p>

                <h3 class="h2 font-serif normal-case mt-spacer-2">Contact Author</h3>
                <p>Find the <a href="/about" class="link-underline text-primary">author’s bio here</a>.<br/>
                {# NOTE: bots and AI can scrape the email regardless of the masking #}
              For media inquieries, please contact via <a href="mailto:hellmut@m-o.nz?Subject=Hello!" class="link-underline text-primary">hellmut [at] m-o [period] nz</a>
                </p>
            </div>
        </div>
    </div>
</section>