<section class='py-section-sm bg-dark text-light border-b border-muted'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h2>Shop</h2>
            </div>
            <div class="monz-col-6">
                <article class="pb-0 mb-spacer-1">
                    <a href="#" class="stretched-link">
                        <div class="h-spacer-29 bg-info">
                            {# TODO: image placeholder #}
                            {# <figure>
                                <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset"/>
                                <figcaption>An elephant at sunset</figcaption>
                            </figure> #}
                        </div>
                    </a>
                </article>
            </div>
            <div class="monz-col-2 lg:col-start-3">
                <a href="#" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">Visit shop --&gt;</a>
            </div>
        </div>
    </div>
</section>