<section class='bg-dark text-light text-sm py-section-sm-mobile lg:py-section-sm-desktop'>
    <div class='layout px-0 py-spacer-mobile1 lg:py-spacer-desktop1'>
        <div class="grid w-full lg:grid-cols-6 px-spacer-mobile2 lg:px-spacer-desktop7 gap-spacer-mobile2 lg:gap-spacer-desktop2">
            <div class="lg:col-span-6">
                <h2>Shop</h2>
            </div>
            <div class="lg:col-span-6">
                <div class="h-spacer-mobile29 lg:h-spacer-desktop29 bg-info mb-spacer-mobile1 lg:mb-spacer-desktop1">
                    {# TODO: image placeholder #}
                    {# <figure>
                        <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset"/>
                        <figcaption>An elephant at sunset</figcaption>
                    </figure> #}
                </div>
            </div>
            <div class="lg:col-span-2 lg:col-start-3">
                <a href="#" class="mt-spacer-mobile2 lg:mt-spacer-desktop2 link-underline bg-primary block uppercase p-spacer-mobile1 lg:p-spacer-desktop1 text-left text-spacer-mobile1 lg:text-spacer-desktop1 leading-none text-body">Visit shop --&gt;</a>
            </div>
        </div>
    </div>
</section>