<section class='py-section-sm bg-dark text-light border-b border-muted'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h2>Shop</h2>
            </div>
            <div class="monz-col-6">
                {# NOTE: the content comes from collections.shop which is annotated by `tags: ["shop", ...` #}
                {% set posts = collections.shop.slice(0, 3) %}
                {% set figureBackgroundColor = "bg-error" %}
                {# NOTE: individual posts have different cover photo heights but `figureHeight` overrides it for all posts #}
                {% set figureHeight = "!h-spacer-14" %}
                {% include "components/article-list.njk" %}
            </div>
            <div class="monz-col-2 lg:col-start-3">
                <a href="/shop" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">Visit shop --&gt;</a>
            </div>
        </div>
    </div>
</section>