<div class="monz-col-6">
    <h2 class="font-serif normal-case mb-spacer-3 mt-spacer-2">Reviews</h2>
</div>
<div class="monz-col-4 mb-spacer-2">
    <h3>Critique by Sebastian Höglinger, translated by Lisa Rosenblatt:</h3>
    <p>“Caught in the wake of an animated pipe system, The Construction of ANSTALT3000 leads down to the limbo of wrong-headed hyper-fiction and even further to the borders of imagination, taken literally – quasi into a latently obscene in-between world defined by counter- and meta-logics. Sounds dodgy? Well, it is: dodgy and frantically clever.</p>
    <p>In fragile, billowing, animated scenes, hybrid creatures featuring rather awkward forms confront themselves and their audience with at times bizarrely humorous word, text, and body mutations. God is fabricated as a little digital heap of misery – for the sole purpose of refuting his existence – surroundings and beings deform with a consistent, level timing and in their structure recall both popular gaming scenes and the skit style of early film comedies.</p>
    <p>Munz´s only seemingly naïve asylum and its inhabitants, highly complex in their consistent concentration, tell of the process in the title; construction and throwing over: of meanings, spaces, and no least, conventions of communication in the 'digital era'. They thereby have an unmistakable affinity to David O´Reilly´s grandly overflowing cinematic and imaginative worlds. By means of parody (and to serve it), an – at times error affirming – pendant is offered to the commercial-tidy-aesthetics of conventional 3D animation. A universe that pleasurably continues to give birth to itself from its own intrinsic logic and which Munz ends at the physical fusion with already introduced characters – a refreshing symbol of constructed non-perfection, similar to a 'boss' in classical arcade console adventures."</p>
</div>
<div class="monz-col-2">
    <div class="monz-tile break-inside-avoid-column mb-spacer-2">
        <button type="button" data-monz-modal-trigger class="w-full text-left">
            <figure data-monz-show-in-modal="true">
                <div class="h-spacer-14 bg-light mb-spacer-1">
                    {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                    {% set pictureObject = coverPhoto %}
                    {% include "components/picture-example.njk" %}
                </div>
                <figcaption>Fig. 1.1: Image Caption of this image that says something (Copyright © Eman Ali, 2022)</figcaption>
            </figure>
        </button>
    </div>

    <div class="monz-tile break-inside-avoid-column mb-spacer-2">
        <button type="button" class="w-full text-left" data-monz-modal-trigger>
            {# NOTE: use data-modal-target="modal-gallery" data-modal-toggle="modal-gallery" for automatic show/hide via markup#}
            <figure data-monz-show-in-modal="true">
                <div class="h-spacer-14 bg-light mb-spacer-1">
                    {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                    {% set pictureObject = coverPhoto %}
                    {% include "components/picture-example.njk" %}
                </div>
                <figcaption>Fig. 1.1: Image Caption of this image that says something (Copyright © Eman Ali, 2022)</figcaption>
            </figure>
        </button>
    </div>
</div>