{# {% include "components/upward-facing-triangles.njk" %} #}

{# NOTE: this work.njk is dynamic, it is loading data from src/_data/featuredArticlesWork.json and iterates through them #}
<section class='bg-dark text-light py-section-sm'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h2>Work</h2>
            </div>
            <div class="monz-col-2">
                {# NOTE: the content comes from collections.work which is annotated by `tags: ["work", ...` #}
                {# NOTE: get post at index 1 #}
                {% set posts = collections.work.slice(1, 2) %}
                {% set figureBackgroundColor = "bg-success" %}
                {# NOTE: individual posts have different cover photo heights but `figureHeight` overrides it for all posts #}
                {% set figureHeight = "!h-spacer-29" %}
                {% set numberOfColumns = 1 %}
                {% include "components/article-list.njk" %}
            </div>
            <div class="monz-col-4">
                {# NOTE: the content comes from collections.work which is annotated by `tags: ["work", ...` #}
                {# NOTE: get post at index 2 #}
                {% set posts = collections.work.slice(2, 3) %}
                {% set figureBackgroundColor = "bg-success" %}
                {# NOTE: individual posts have different cover photo heights but `figureHeight` overrides it for all posts #}
                {% set figureHeight = "!h-spacer-29" %}
                {% set numberOfColumns = 1 %}
                {% include "components/article-list.njk" %}
            </div>
            <div class="monz-col-6">
                {# NOTE: the content comes from collections.work which is annotated by `tags: ["work", ...` #}
                {% set posts = collections.work.slice(3, 6) %}
                {% set figureBackgroundColor = "bg-success" %}
                {# NOTE: individual posts have different cover photo heights but `figureHeight` overrides it for all posts #}
                {% set figureHeight = "!h-spacer-14" %}
                {% set numberOfColumns = 3 %}
                {% include "components/article-list.njk" %}
            </div>

            <div class="monz-col-2 lg:col-start-3">
                <a href="/work" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">View more work --&gt;</a>
            </div>
        </div>
    </div>
</section>