---
title: Contact
excerpt: "TODO: Contact"
layout: layouts/base.njk
permalink: /about/contact/
eleventyNavigation:
  key: Contact
  parent: About
  url: /about/contact/
---

<section class='py-section-sm bg-dark text-light'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h1>{{ title }}</h1>
                <p class="lead">Hellmut Monz, PhD</p>
                <ul class="list-greater text-spacer-1 leading-loose">
                    {# NOTE: bots and AI can scrape the email regardless of the masking #}
                    <li>E-mail: <a href="mailto:hellmut@m-o.nz?Subject=Hello!" class="link-underline text-primary">hellmut [at] m-o [period] nz</a>
                    </li>
                    <li>Instagram: <a href="https://www.instagram.com/hellmut_monz/" class="link-underline text-primary">Hellmut_Monz</a>
                    </li>
                    <li>Twitter: <a href="https://twitter.com/Hellmut_Monz" class="link-underline text-primary">@Hellmut_Monz</a></li>
                    <li>Facebook: <a href="https://www.facebook.com/Hellmut.Monz" class="link-underline text-primary">@Hellmut_Monz</a></li>
                    <li>Newsletter: <a href="#newsletter" class="link-underline text-primary">get news upon release of future work</a></li>
                </ul>
                <p class="text-spacer-1 leading-loose">Currently based in:</p>
                <ul class="list-greater line-through text-spacer-1 leading-loose">
                    <li>Vienna, Austria</li>
                    <li>Marseille, France</li>
                    <li>New York, United States</li>
                    <li>Melbourne, Australia</li>
                    <li>Berlin, Germany</li>
                </ul>
                <p class="text-spacer-1 leading-loose">Permanently based in:</p>
                <ul class="list-greater text-spacer-1 leading-loose">
                    <li>Cosmopolis, Universe</li>
                </ul>
            </div>
            <div class="monz-col-2 lg:col-start-3">
                <a href="/" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">Home --&gt;</a>
            </div>
        </div>
    </div>
</section>