/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

@layer base {
  /**
	* This uses the background and foreground colors declared in the
	* `theme.json` file and is applied both to the frontend and in the block
	* editor.
	*/

  /* body {
    @apply bg-background text-foreground font-sans relative;
  } */

  /* .container-generic {
		@apply container mx-auto px-4;
	} */

  .layout {
    @apply lg:mx-auto lg:max-w-[1536px];
  }

  body {
    @apply font-serif relative;
    @apply before:absolute before:block before:opacity-10 before:left-0 before:right-0 before:top-0 before:bottom-0 before:bg-contain before:bg-repeat-y before:max-w-[1536px] before:mx-auto;
    /* NOTE: not required before:max-h-[675px] */
    
    &::before {
      background-image: url(../img/grid-reference-mobile.jpg);
    }

    @media (min-width: 1024px) {
      &::before {
        background-image: url(../img/grid-reference-desktop.jpg);
      }
    }
    
  }

  .layout,
  .layout2 {
    container-type: inline-size;
  }  

  /* .layout .text-top-navbar {
    font-size: 1cqi !important;
  } */
  
  /* If the container is larger than 768px */
  @container (min-width: 768px) {
    .layout .text-top-navbar {
      font-size: calc(2 * var(--spacer-desktop) - 7px) !important;
    }

    .layout .text-spacer-desktop1 {
      font-size: calc(var(--spacer-desktop)) !important;
    }

    .layout2 button svg {
      width: 14.285714286cqi !important;
      height: 14.285714286cqi !important;
    }
  }
}
