<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body>

    {% include "../components/navigation.njk" %}
    <main>
      {{ content | safe }}

      {# NOTE: undo the footer reveal offset #}
      <div class="bg-dark">
        <div class='monz-container pb-spacer-33'></div>
      </div>
    </main>

    {% include "../components/footer.njk" %}

    {# NOTE: modals at the very end so their z-index is above everything else #}
    {% include "components/modals/modal-layout-columns-2-4.njk" %}

    {# NOTE: optional example in case importing in main.js does not work 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js" defer></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js" defer></script> #}

    <script src="/main.js" defer></script>
  </body>
</html>