<!doctype html>
<html lang="en" class="scroll-smooth cap-height-adjust newsbar-hidden">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body>

    {% include "../components/navigation.njk" %}
    <main>
      <section class='py-section-sm bg-dark text-light'>
        <div class='monz-container'>
          <div class="monz-grid">
            <div class="monz-col-4">
              <h1 class="font-serif normal-case">{{ title }}</h1>
              
              {{ content | safe }}

              <ul class="list-separator-dot text-muted">
                {% for category in categories %}
                  <li class="uppercase">{{ category }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    {# NOTE: modals at the very end so their z-index is above everything else #}
    {% include "components/modals/modal-gallery.njk" %}

    <script src="/main.js" defer></script>
  </body>
</html>