<!doctype html>
<html lang="en" class="scroll-smooth newsbar-hidden course-toc-expanded">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body>

    {% include "../components/navigation.njk" %}
    <main>
      <section class='pb-section-sm bg-dark text-light'>
        <div class='monz-container'>
          <div class="monz-grid relative">
            <button type='button' id="course-content-menu" class="transition-all lg:absolute right-0 mb-spacer-1 bg-primary text-body p-spacer-1 flex justify-between">
              <h2 class="whitespace-nowrap leading-none transition-all">Course content</h2>
              <div class="h2 leading-none">
                <span class="monz-icon-close-x lg:mr-spacer-5">X</span>
                <svg class="monz-icon-toc-expand w-spacer-2 h-spacer-2 lg:absolute lg:right-spacer-2" aria-hidden="true" width="16" height="16">
                  <use href="/img/icons/dist/sprite.svg#icon-arrow-left"></use>
                </svg>
              </div>
            </button>

            <div class="monz-course-toc transition-all lg:w-spacer-26 lg:absolute top-spacer-4 right-spacer-7 mb-spacer-2 p-spacer-1">
              <h3 class="link-underline-active leading-loose">Introduction</h3>

              <div id="accordion-collapse" data-accordion="collapse" class="text-light">
                <h4 id="accordion-heading-1">
                  <button type="button" class="text-base text-light bg-transparent leading-loose flex items-center justify-between w-full" data-accordion-target="#accordion-body-1" aria-expanded="false" aria-controls="accordion-body-1">
                    <span>1. The Philosopher’s Key</span>
                    <svg data-accordion-icon class="w-spacer-1/2 h-spacer-1/2 ml-spacer-1 rotate-180 transition-transform shrink-0" aria-hidden="true" width="16" height="16">
                      <use href="/img/icons/dist/sprite.svg#icon-caret-down"></use>
                    </svg>
                  </button>
                </h4>
                <ul id="accordion-body-1" class="hidden pl-spacer-1.5" aria-labelledby="accordion-heading-1">
                  <li>
                    <a href="#" class="link-underline">1.1 subchapter - 1</a>
                  </li>
                  <li>
                    <a href="#" class="link-underline">1.2 subchapter - 2</a>
                  </li>
                  <li>
                    <a href="#" class="link-underline">1.3 subchapter - 3</a>
                  </li>
                  <li>
                    <a href="#" class="link-underline">4. The River Riddle</a>
                  </li>
                  <li>
                    <a href="#" class="link-underline">5. The Killer Riddle</a>
                  </li>
                  <li>
                    <a href="#" class="link-underline">6. Truth or Joke?</a>
                  </li>
                </ul>
                <h4 id="accordion-heading-2">
                  <button type="button" class="text-base text-light bg-transparent leading-loose flex items-center justify-between w-full" data-accordion-target="#accordion-body-2" aria-expanded="false" aria-controls="accordion-body-2">
                    <span>2. The Philosopher’s Lock</span>
                    <svg data-accordion-icon class="w-spacer-1/2 h-spacer-1/2 ml-spacer-1 rotate-180 transition-transform shrink-0" aria-hidden="true" width="16" height="16">
                      <use href="/img/icons/dist/sprite.svg#icon-caret-down"></use>
                    </svg>
                  </button>
                </h4>
                <ul id="accordion-body-2" class="hidden pl-spacer-1.5" aria-labelledby="accordion-heading-2">
                  <li>
                    <a href="#" class="link-underline">2.1 subchapter - 1</a>
                  </li>
                  <li>
                    <a href="#" class="link-underline">2.2 subchapter - 2</a>
                  </li>
                </ul>
              </div>

              <h3 class="leading-loose">
                <a href="#" class="link-underline">Conclusion</a>
              </h3>
            </div>
            <div class="monz-col-6">
              {# NOTE: every page requires a <h1>, even if it is visually hidden with <h1 clas="sr-only"> for accessibility/SEO reasons #}
              <h1 class="sr-only">{{ title }}</h1>

              <div class="monz-course-container transition-all">
                <figure class="mb-spacer-3" data-monz-show-in-modal="false">
                  <div class="{% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                    {% include "components/video-example.njk" %}
                  </div>

                  {# NOTE: optional caption #}
                  {% if coverPhoto.figcaption is defined and coverPhoto.figcaption !== '' %}
                    <figcaption class="mt-spacer-1">{{ coverPhoto.figcaption }}</figcaption>
                  {% endif %}
                </figure>
              </div>

              {# {{ content | safe }} #}
            </div>
          </div>
        </div>
      </section>
    </main>

    {# NOTE: modals at the very end so their z-index is above everything else #}
    {% include "components/modals/modal-gallery.njk" %}

    <script src="/main.js" defer></script>
  </body>
</html>