{# NOTE: and additional sticky wrapper for `project` pages where the news bar is always visible #}
{% set newsbarVisible = true %}
{% set newsbarLinkText = "Watch" %}
{% set newsbarLinkHref = "#watch" %}

<!doctype html>
<html lang="en" class="scroll-smooth newsbar-visible">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body>

    {% include "../components/navigation.njk" %}
    <main>
      <section class='pb-section-sm bg-dark text-light'>
        <div class='monz-container'>
          <div class="monz-grid">
            <div class="monz-col-6">
              <figure class="mb-spacer-3">
                <div class="{% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                  {% include "components/video-example.njk" %}

                  {# NOTE: optional decorative upward facing triangles #}
                  <div class="-mt-spacer-1">
                    {% include "components/upward-facing-triangles.njk" %}
                  </div>
                </div>

                {# NOTE: optional caption #}
                {% if coverPhoto.figcaption is defined and coverPhoto.figcaption !== '' %}
                  <figcaption class="mt-spacer-1">{{ coverPhoto.figcaption }}</figcaption>
                {% endif %}
              </figure>

              <p class="h2 mb-spacer-2">About</p>
            </div>
            <div class="monz-col-2">
              <figure>
                {# NOTE: keeping for the default syntax <div class="h-spacer-{{ coverPhoto.height | default('14') }} bg-success mb-spacer-1"> #}
                <div class="h-spacer-46 {% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                  {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                  {% set pictureObject = coverPhoto %}
                  {% include "components/picture-example.njk" %}
                </div>

                {# NOTE/TODO: optional caption but below the swiper, individually #}
                {% if coverPhoto.figcaption is defined and coverPhoto.figcaption !== '' %}
                  <figcaption class="mt-spacer-1">{{ coverPhoto.figcaption }}</figcaption>
                {% endif %}
              </figure>
            </div>
            <div class="monz-col-4">
              <h1 class="font-serif">{{ title }}</h1>
              <p class="text-lg leading-relaxed mb-spacer-3 mt-0">{{ excerpt }}</p>
              <div class="lg:grid lg:grid-cols-3 lg:gap-x-spacer-2 mb-spacer-2">
                <a href="{{ newsbarLinkHref }}" class="link-underline block bg-primary uppercase p-spacer-1 text-left text-spacer-1 text-body leading-none">Read --&gt;</a>
              </div>

              {% block abstract %}
                {# NOTE: placeholder for Abstract #}
              {% endblock %}

              <dl class="mt-spacer-4">
                <dt class="clear-left float-left pr-spacer-1/2">Language:</dt>
                <dd>{{ bookDetailsLanguage }}</dd>
                <dt class="clear-left float-left pr-spacer-1/2">Pages:</dt>
                <dd>{{ bookDetailsPages }}</dd>
                <dt class="clear-left float-left pr-spacer-1/2">ISBN:</dt>
                <dd>{{ bookDetailsISBN }}</dd>
                <dt class="clear-left float-left pr-spacer-1/2">DOI:</dt>
                <dd>{{ bookDetailsDOI }}</dd>
              </dl>
            </div>
            <div class="monz-col-6">
              <h2 class="font-serif normal-case mb-spacer-3 mt-spacer-2">Reviews</h2>

              {% for review in bookDetailsReviews %}
                <blockquote class="mb-spacer-3">
                  <p>{{ review.text }}</p>
                  <cite class="pl-spacer-4">{{ review.source }}</cite>
                </blockquote>
              {% endfor %}
            </div>
            <div class="monz-col-4 mb-spacer-2 lg:mb-0">
              {% block researchStatement %}
                {# NOTE: placeholder for Research Statement #}
              {% endblock %}
            </div>
            <div class="monz-col-2">
              {# TODO: 2nd cover photo #}
              <figure class="mb-spacer-3">
                {# NOTE: keeping for the default syntax <div class="h-spacer-{{ coverPhoto.height | default('14') }} bg-success mb-spacer-1"> #}
                <div class="h-spacer-33 {% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                  {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                  {% set pictureObject = coverPhoto %}
                  {% include "components/picture-example.njk" %}
                </div>

                {# NOTE: optional caption #}
                {% if coverPhoto.figcaption is defined and coverPhoto.figcaption !== '' %}
                  <figcaption class="mt-spacer-1">{{ coverPhoto.figcaption }}</figcaption>
                {% endif %}
              </figure>
            </div>
          </div>
        </div>
      </section>

      {# {% include "../sections/project-read-read.njk" %} #}

      {% include "../sections/project-read-media.njk" %}

      {% include "../sections/project-read-author.njk" %}

      {# NOTE: no {{ content | safe }} due the individual blocks/slots #}

      {# NOTE: undo the footer reveal offset #}
      <div class="bg-dark">
        <div class='monz-container pb-spacer-33'></div>
      </div>
    </main>

    {% include "../components/footer.njk" %}

    <script src="/main.js" defer></script>
  </body>
</html>