<!doctype html>
<html lang="en" class="scroll-smooth cap-height-adjust newsbar-hidden course-toc-expanded">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body>

    {% include "../components/navigation.njk" %}
    <main>
      <section class='pb-section-sm bg-dark text-light'>
        <div class='monz-container'>
          <div class="monz-grid relative">
            {% include "components/course-content-menu.njk" %}

            <div class="monz-course-toc transition-all lg:w-spacer-26 lg:absolute top-spacer-4 right-spacer-7 mb-spacer-2 p-spacer-1">
              {# NOTE: on pagination pages use the one below {% include "components/course-toc-accordion.njk" %} #}
              {% include "components/course-toc-accordion-pagination.njk" %}
            </div>

            <div class="monz-col-6">
              {# NOTE: every page requires a <h1>, even if it is visually hidden with <h1 clas="sr-only"> for accessibility/SEO reasons #}
              <h1 class="sr-only">{{ title }}</h1>

              <div class="monz-course-container transition-all">
                <figure data-monz-show-in-modal="false">
                  <div class="{% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                    {# NOTE: on pagination pages use the one below {% include "components/video-example.njk" %} #}
                    {% include "components/video-example-pagination.njk" %}
                  </div>

                  {# NOTE: optional caption #}
                  {% if coverPhoto.figcaption is defined and coverPhoto.figcaption !== '' %}
                    <figcaption class="mt-spacer-1">{{ coverPhoto.figcaption }}</figcaption>
                  {% endif %}
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include "sections/chapter-description.njk" %}

      {# {{ content | safe }} #}

      {# NOTE: undo the footer reveal offset #}
      <div class="bg-dark">
        <div class='monz-container pb-spacer-33'></div>
      </div>
    </main>

    {% include "../components/footer.njk" %}

    {# NOTE: modals at the very end so their z-index is above everything else #}
    {% include "components/modals/modal-gallery.njk" %}

    <script src="/main.js" defer></script>
  </body>
</html>