{# NOTE: and additional sticky wrapper for `project` pages where the news bar is always visible #}
{% set newsbarVisible = true %}
{% set newsbarLinkText = "Read" %}
{% set newsbarLinkHref = "#read" %}

<!doctype html>
<html lang="en" class="scroll-smooth cap-height-adjust newsbar-visible">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body>

    {% include "../components/navigation.njk" %}
    <main>
      <section class='py-section-sm bg-dark text-light'>
        <div class='monz-container'>
          <div class="monz-grid">
            <div class="monz-col-6">
              <p class="h2 mb-spacer-2">About</p>
            </div>
            <div class="monz-col-3">
              {% include "components/swiper-gallery.njk" %}
            </div>
            <div class="monz-col-3">
              <h1 class="font-serif">{{ title }}</h1>
              <p class="text-lg leading-relaxed mb-spacer-3 mt-0">{{ excerpt }}</p>
              <div class="lg:grid lg:grid-cols-3 lg:gap-x-spacer-2 mb-spacer-2">
                <a href="{{ newsbarLinkHref }}" class="link-underline block bg-primary uppercase p-spacer-1 text-left text-spacer-1 text-body leading-none">Read --&gt;</a>
              </div>

              {% block abstract %}
                {# NOTE: placeholder for Abstract #}
              {% endblock %}

              {% if projectDetails %}
                <dl class="mt-spacer-4">
                  {% for key, value in projectDetails %}
                    <dt class="clear-left float-left pr-spacer-1/2">{{ key }}:</dt>
                    <dd>{{ value }}</dd>
                  {% endfor %}
                </dl>
              {% endif %}
            </div>
            <div class="monz-col-6">
              <h2 class="font-serif normal-case mb-spacer-3 mt-spacer-2">Reviews</h2>

              {% for review in bookDetailsReviews %}
                <blockquote class="mb-spacer-3">
                  <p>{{ review.text }}</p>
                  <cite class="pl-spacer-4">{{ review.source }}</cite>
                </blockquote>
              {% endfor %}
            </div>
            <div class="monz-col-4 mb-spacer-2 lg:mb-0">
              {% block researchStatement %}
                {# NOTE: placeholder for Research Statement #}
              {% endblock %}
            </div>
            <div class="monz-col-2">
              {# TODO: 2nd cover photo #}
              <figure class="mb-spacer-3" data-monz-show-in-modal="true">
                {# NOTE: keeping for the default syntax <div class="h-spacer-{{ coverPhoto.height | default('14') }} bg-success mb-spacer-1"> #}
                <div class="h-spacer-33 {% if coverPhoto.figureBackgroundColor is defined and coverPhoto.figureBackgroundColor !== '' %}{{ coverPhoto.figureBackgroundColor }}{% else %}bg-light{% endif %} {{ figureBackgroundColor }}">
                  {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                  {% set pictureObject = coverPhoto %}
                  {% include "components/picture-example.njk" %}
                </div>

                {# NOTE: optional caption #}
                {% if coverPhoto.figcaption is defined and coverPhoto.figcaption !== '' %}
                  <figcaption class="mt-spacer-1">{{ coverPhoto.figcaption }}</figcaption>
                {% endif %}
              </figure>
            </div>
          </div>
        </div>
      </section>

      {% include "../sections/project-read.njk" %}

      <section class='py-section-sm bg-dark text-light'>
        <div class='monz-container'>
          <div class="monz-grid">
            <div class="monz-col-6">
              <h2 class="mb-spacer-2">Media</h2>

              <div class="mb-spacer-2">
                {% set slidesHeight = 'h-spacer-33' %}
                {% set showInModal = true %}
                {% set slidesData = [
                  {
                    'webP': '/img/pexels-rdne-stock-project-8474487-640x424.webp',
                    'webP2x': '/img/pexels-rdne-stock-project-8474487-640x424@2x.webp',
                    'jpg': '/img/pexels-rdne-stock-project-8474487-640x424.jpg',
                    'jpg2x': '/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg',
                    'caption': 'Slide 1'
                  }, {
                    'webP': '/img/pexels-oleksandr-tiupa-192136-640x427.webp',
                    'webP2x': '/img/pexels-oleksandr-tiupa-192136-640x427@2x.webp',
                    'jpg': '/img/pexels-oleksandr-tiupa-192136-640x427.jpg',
                    'jpg2x': '/img/pexels-oleksandr-tiupa-192136-640x427@2x.jpg',
                    'caption': 'Slide 2'
                  }, {
                    'webP': '/img/pexels-daniel-cid-17505905-640x448.webp',
                    'webP2x': '/img/pexels-daniel-cid-17505905-640x448@2x.webp',
                    'jpg': '/img/pexels-daniel-cid-17505905-640x448.jpg',
                    'jpg2x': '/img/pexels-daniel-cid-17505905-640x448@2x.jpg',
                    'caption': 'Slide 3'
                  }, {
                    'webP': '/img/pexels-daniel-cid-17505905-640x448.webp',
                    'webP2x': '/img/pexels-daniel-cid-17505905-640x448@2x.webp',
                    'jpg': '/img/pexels-daniel-cid-17505905-640x448.jpg',
                    'jpg2x': '/img/pexels-daniel-cid-17505905-640x448@2x.jpg',
                    'caption': 'Slide 4'
                  }
                ] %}
                {% include "components/swiper.njk" %}
              </div>

              <h3 class="h2 font-serif normal-case">Book Cover</h3>
              <p>
                <a href="#" class="link-underline text-primary">Download Web Quality</a><br/>
                <a href="#" class="link-underline text-primary">Download Print Quality</a>
              </p>

              <h3 class="h2 font-serif normal-case mt-spacer-2">Author Images</h3>
              <p>
                <a href="#" class="link-underline text-primary">Download Web Quality</a><br/>
                <a href="#" class="link-underline text-primary">Download Print Quality</a>
              </p>

              <h3 class="h2 font-serif normal-case mt-spacer-2">Contact Author</h3>
              <p>Find the <a href="/about" class="link-underline text-primary">author’s bio here</a>.<br/>
                {# NOTE: bots and AI can scrape the email regardless of the masking #}
              For media inquieries, please contact via <a href="mailto:hellmut@m-o.nz?Subject=Hello!" class="link-underline text-primary">hellmut [at] m-o [period] nz</a>
              </p>
            </div>
          </div>
        </div>
      </section>

      {% include "../sections/project-author.njk" %}

      {# NOTE: no {{ content | safe }} due the individual blocks/slots #}

      {# NOTE: undo the footer reveal offset #}
      <div class="bg-dark">
        <div class='monz-container pb-spacer-33'></div>
      </div>
    </main>

    {% include "../components/footer.njk" %}

    {# NOTE: modals at the very end so their z-index is above everything else #}
    {% include "components/modals/modal-gallery.njk" %}

    <script src="/main.js" defer></script>
  </body>
</html>