---
title: Books
excerpt: "TODO: Books"
layout: layouts/category.njk
permalink: /shop/books/
category: books
coverPhoto.figureBackgroundColor: bg-error
eleventyNavigation:
  key: Books
  parent: Shop
  url: /shop/books/
---