---
title: Cart
excerpt: "Excerpt for Cart"
layout: layouts/base.njk
permalink: /cart/
---

<section class='py-section-sm'>
    <div class='monz-container'>
        <div class="monz-grid">
            <div class="monz-col-6">
                <h1 class="text-body">{{ title }}</h1>
                
            </div>
            <div class="monz-col-2 lg:col-start-3">
                <a href="/" class="mt-spacer-2 link-underline bg-primary block uppercase p-spacer-1 text-left text-spacer-1 leading-none text-body">Proceed to pay --&gt;</a>
            </div>
        </div>
    </div>
</section>