---
title: M-log
layout: layouts/base.njk
permalink: /m-log/
description: TODO
eleventyNavigation:
  key: M-log
  order: 3
  icon: m-log
---

<section class='pb-section-sm bg-dark text-light'>
  <div class="h-spacer-46 bg-info">
    {# TODO: image placeholder #}
    {# <figure>
            <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset"/>
            <figcaption>An elephant at sunset</figcaption>
        </figure> #}
  </div>

  <div class='monz-container'>

    <div class="monz-grid">
      <div class="monz-col-6 pt-spacer-3">
        <h1 class="mb-spacer-3">{{ title }}</h1>
        <p class="lead">Hellmut Monz m-log ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        <h2 class="mt-spacer-5 mb-spacer-3">2001-05</h2>
        <ul class="lg:columns-3 gap-spacer-2">
          {# NOTE: the content comes from src/_data/featuredArticlesWork.json #}
          {% for featuredArticle in featuredArticlesWork.featuredArticles %}
            {% if featuredArticle.title is defined and featuredArticle.title !== '' %}
              <li>
                <article class="break-inside-avoid-column">
                  {# TODO: class for Tailwind JIT compiler: .h-spacer-14 .h-spacer-21 .h-spacer-22 .h-spacer-25 .h-spacer-33 #}
                  <div class="h-spacer-{{featuredArticle.coverPhoto.height}} bg-success mb-spacer-1">
                    <figure class="h-full">
                      {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                      {% set pictureObject = featuredArticle.coverPhoto %}
                      {% include "components/picture-example.njk" %}
                      {# NOTE: optional caption #}
                      {# <figcaption>Back View of Astronauts Holding Hands</figcaption> #}
                    </figure>
                  </div>
                  <h3>
                    {# NOTE: modal toggle #}
                    <button type="button" class="stretched-link" data-modal-target="modal-layout-01" data-modal-toggle="modal-layout-01">{{ featuredArticle.title }}</button>
                  </h3>
                  <p>{{ featuredArticle.description }}</p>
                  <ul class="list-separator-dot text-muted">
                    {% for tag in featuredArticle.tags %}
                      <li class="uppercase">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                </article>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <h2 class="mt-spacer-5 mb-spacer-3">2005-12</h2>
        <ul class="lg:columns-3 gap-spacer-2">
          {# NOTE: the content comes from src/_data/featuredArticlesWork.json #}
          {% for featuredArticle in featuredArticlesWork.featuredArticles %}
            {% if featuredArticle.title is defined and featuredArticle.title !== '' %}
              <li>
                <article class="break-inside-avoid-column">
                  {# TODO: class for Tailwind JIT compiler: .h-spacer-14 .h-spacer-21 .h-spacer-22 .h-spacer-25 .h-spacer-33 #}
                  <div class="h-spacer-{{featuredArticle.coverPhoto.height}} bg-success mb-spacer-1">
                    <figure class="h-full">
                      {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
                      {% set pictureObject = featuredArticle.coverPhoto %}
                      {% include "components/picture-example.njk" %}
                      {# NOTE: optional caption #}
                      {# <figcaption>Back View of Astronauts Holding Hands</figcaption> #}
                    </figure>
                  </div>
                  <h3>
                    {# NOTE: modal toggle #}
                    <button type="button" class="stretched-link" data-modal-target="modal-layout-01" data-modal-toggle="modal-layout-01">{{ featuredArticle.title }}</button>
                  </h3>
                  <p>{{ featuredArticle.description }}</p>
                  <ul class="list-separator-dot text-muted">
                    {% for tag in featuredArticle.tags %}
                      <li class="uppercase">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                </article>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="monz-grid mt-spacer-7">
      <div class="monz-col-2 lg:col-start-3">
        <nav aria-label="Pagination">
          <ul class="flex justify-between">
            <li class="grow">
              <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none whitespace-nowrap">&lt;&lt; Prev</a>
            </li>
            <li>
              <span class="bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">…</span>
            </li>
            <li>
              <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">43</a>
            </li>
            <li>
              <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">44</a>
            </li>
            <li>
              <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">45</a>
            </li>
            <li>
              <span class="bg-primary text-body block uppercase p-spacer-1 text-left text-spacer-1 leading-none">…</span>
            </li>
            <li class="grow">
              <a href="#" class="link-underline bg-primary text-body block uppercase p-spacer-1 text-right text-spacer-1 leading-none whitespace-nowrap">Next &gt;&gt;</a>
            </li>
          </div>
        </div>
      </div>
    </section>