---
title: Shop
layout: layouts/base.njk
permalink: /shop/
description: TODO
eleventyNavigation:
  key: Shop
  order: 2
  icon: shop
---

<section>
  <div class='container-custom relative'>
    <h1>Shop</h1>
    <p>Lorem ipsum...</p>
  </div>
</section>