---
title: 2022
excerpt: "TODO: 2022"
layout: layouts/category.njk
permalink: /doc/2022/
category: year2022
coverPhoto.figureBackgroundColor: bg-info
eleventyNavigation:
  key: 2022
  parent: Doc
  url: /doc/2022/
---