---
title: Work
date: 2022-01-11
description: TODO
coverPhoto: {
                "webP": "/TODO/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/TODO/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/TODO/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/TODO/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "small"
            }
layout: layouts/base.njk
coverPhoto.figureBackgroundColor: bg-success
permalink: /work/
category: work
eleventyNavigation:
  key: Work
  order: 1
---

<section class='pb-section-sm bg-dark text-light'>
  {# NOTE: full width/edge-to-edge cover photo markup "components/cover-photo-edge-to-edge-example.njk" #}
  <figure class="mb-spacer-3" data-monz-show-in-modal="true">
    <div class="bg-success relative">
      <div class="absolute top-0 bottom-0 left-0 right-0">
        {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
        {% set pictureObject = coverPhoto %}
        {% include "components/picture-example.njk" %}
      </div>

      <div class='monz-container'>
        <div class="h-spacer-46"></div>
      </div>
    </div>

    {# NOTE: optional caption #}
    {# <div class='monz-container mt-spacer-1'>
      <div class="monz-grid">
        <div class="monz-col-6">
          <figcaption>Fig. 1.1: Image Caption of this image that says something (Copyright © Eman Ali, 2022)</figcaption>
        </div>
      </div>
    </div> #}
  </figure>

  <div class='monz-container'>
    <div class="monz-grid">
      <div class="monz-col-6">
        <h1 class="h2 mb-spacer-3">{{ title }}</h1>
        <p class="text-lg leading-relaxed mb-spacer-3">Hellmut Monz creates work lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>

        {# NOTE: the content comes from collections.year2022 which is annotated by `tags: ["year2022", ...` #}
        {% set posts = collections.work | reverse %}
        {% include "components/article-list.njk" %}
      </div>
    </div>

    <div class="monz-grid mt-spacer-7">
      <div class="monz-col-2 lg:col-start-3">
        {% include "components/pagination.njk" %}
      </div>
    </div>
  </div>
</section>