---
title: Work
layout: layouts/base.njk
permalink: /work/
description: TODO
eleventyNavigation:
  key: Work
  order: 1
  icon: work
---

<section>
  <div class='monz-container relative'>
    <h1>Work</h1>
    <p>Lorem ipsum...</p>
  </div>
</section>