---
title: Course 17 chapter 2.1
date: 2019-03-12
excerpt: "Excerpt how to walk through walls using the 4th Dimension [Miegakure: a 4D game] "
coverPhoto: {
                "webP": "/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "large",
                "figureBackgroundColor": "bg-success",
                "figcaption": "Back View of Astronauts Holding Hands"
            }
coverVideo: https://www.youtube-nocookie.com/embed/0t4aKJuKP0Q?si=pRyG1NssfeX134T4
layout: layouts/project-course-404.njk
tags: ["work", "movies", "course", "course17"]
categories: ["movies", "category 2", "category 3"]
projectDetails:
  Language: "English"
  Year: 2018
  Teacher: "Hellmut Monz"

# NOTE: each chapter should have its corresponding `section` set
section: 2
chapterDescription: "Course 17 chapter 2.1 - - - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
---
