---
layout: layouts/project-course-chapter.njk
pagination:
  data: collections.course17
  size: 1
permalink: "/work/movies/course17/chapter-{{ pagination.pageNumber }}/"
includeSelf: false
eleventyExcludeFromCollections: true
sections:
  - title: "The Philosopher’s Key"
    chapter: "1"
  - title: "The Philosopher’s Lock"
    chapter: "2"
  - title: "Philosophy 101"
    chapter: "3"
  - title: "The River Riddle"
    chapter: "4"
  - title: "The Killer Riddle"
    chapter: "5"
  - title: "Truth or Joke?"
    chapter: "6"
---

{# NOTE: example code, leave it for reference
{% set posts = pagination.items %}
{% include "components/article-list.njk" %}
<ul>
    {% for item in pagination.items %}
        <li>
            <a href="{{ item.data.permalink }}" class="link-underline">{{ item.data.title }}</a>
        </li>
    {% endfor %}
</ul> #}

{# NOTE: pagination https://www.11ty.dev/docs/pagination/nav/ and https://www.11ty.dev/docs/pagination/ #}

{# NOTE: this files controls the pagination of the whole course #}

{# NOTE: although individual chapters/posts have their own URL e.g. http://localhost:8080/work/movies/course17-chapter-01/ those 
shouldn't be listed in the final pages, only the `paginated` URLs should be used e.g. http://localhost:8080/work/movies/course17/chapter-1/ #}