---
title: Movie 01 Fourier series
date: 2019-03-11
excerpt: "Excerpt but what is a Fourier series? From heat flow to drawing with circles"
coverPhoto: {
                "webP": "/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "large",
                "figureBackgroundColor": "bg-success",
                "figcaption": But what is a Fourier series? From heat flow to drawing with circles
            }
coverVideo: https://www.youtube-nocookie.com/embed/r6sGWTCMz2k?si=DI0OK3Ee9riTKDHT
permalink: /work/movies/movie-01/
tags: ["work", "movies"]
categories: ["movies", "video", "category 3"]
projectDetails:
  Director: "Ali Abbasi"
  Year: 2018
  Genre: "crime, drama, fantasy"
  Duration: "1h 50m"
---

{# NOTE: the layout should be extended this way in order for the blocks/slots to work #}
{% extends 'layouts/project-watch.njk' %}