---
title: Movie 02 chapter 02
date: 2019-03-11
excerpt: "Excerpt how to walk through walls using the 4th Dimension [Miegakure: a 4D game] "
coverPhoto: {
                "webP": "/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "large",
                "figureBackgroundColor": "bg-success",
                "figcaption": "Back View of Astronauts Holding Hands"
            }
coverVideo: https://www.youtube-nocookie.com/embed/9yW--eQaA2I?si=dOoHHK1RWiKCUJYf
layout: layouts/post-layout-project-course.njk
permalink: /work/movies/movie-02-chapter-02/
tags: ["work", "movies"]
categories: ["movies", "category 2", "category 3"]
---

<h2 class="font-serif normal-case">Chapter Description</h2>
<p>Movie 02 chapter 02 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>