{# TODO: add <html class="overflow-hidden"> when the modal is open #}
<div id="modal-layout-01" tabindex="-1" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-screen h-screen overflow-hidden bg-dark text-light">
    <div class="relative w-screen h-screen">
        {# modal content #}
        <div class="flex flex-col h-full">
            {# modal header #}
            <nav class="fixed top-0 left-0 right-0">
                <div class='monz-container'>
                    <div class="monz-grid">
                        <div class="col-span-6 justify-between flex pt-spacer-3 pb-spacer-2">
                            <p class="text-top-navbar uppercase font-sans">
                                1/8
                            </p>
                            <button
                                type='button'
                                aria-label='full screen'
                                data-btn-fullscreen
                                class="hidden lg:block"
                                >
                                <svg class="w-spacer-2 h-spacer-2 text-light" aria-hidden="true">
                                    <use href="/img/icons/dist/sprite.svg#icon-fullscreen"></use>
                                </svg>
                                <span class="sr-only">Full screen</span>
                            </button>

                            <button
                                type='button'
                                aria-label='menu'
                                id="burger-menu"
                                class="lg:absolute lg:top-spacer-3 lg:mr-spacer-2 lg:right-spacer-1"
                                data-modal-hide="modal-layout-01"
                                >
                                <svg class="w-spacer-2 h-spacer-2 text-light" aria-hidden="true">
                                    <use href="/img/icons/dist/sprite.svg#icon-close"></use>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>

            {# modal body #}
            <div class="grow overflow-y-auto mt-spacer-7 pb-spacer-2">
                <div class='monz-container'>
                    <div class="monz-grid">
                        <div class="monz-col-2">
                            <article class="break-inside-avoid-column">
                                <div class="h-spacer-29 bg-success mb-spacer-1">
                                    TODO
                                </div>
                            </article>
                        </div>
                        <div class="monz-col-4">
                            <h3>
                                <a href="/doc/2022/teaching-138/" class="stretched-link">Teaching 138</a>
                            </h3>
                            <p class="text-spacer-1 leading-loose">With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.</p>
                            <p class="text-spacer-1 leading-loose">The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.</p>
                            <p class="text-spacer-1 leading-loose">With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.</p>
                            <p class="text-spacer-1 leading-loose">The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.</p>
                            <p class="text-spacer-1 leading-loose">With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.</p>
                            <p class="text-spacer-1 leading-loose">The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.</p>
                            <ul class="list-separator-dot text-muted text-spacer-1 leading-loose">
                                <li class="uppercase">Book</li>
                                <li class="uppercase">Translation</li>
                                <li class="uppercase">Philosophy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>