---
title: Hellmut MONZ
description: Designer + Researcher + Philosopher + Artist + Joker
layout: layouts/base.njk
---

{% include "sections/hero-old.njk" %}
{% include "sections/work.njk" %}
{% include "sections/doc.njk" %}
{% include "sections/shop.njk" %}
{% include "sections/about.njk" %}