---
title: Teaching 04
date: 1999-03-27
excerpt: "Excerpt for Teaching 04"
coverPhoto: {
                "webP": "/TODO/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/TODO/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/TODO/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/TODO/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "small",
                "figureBackgroundColor": bg-info,
                "figcaption": But what is the Fourier Transform? A visual introduction.
            }
coverVideo: https://www.youtube-nocookie.com/embed/spUNpyF58BY?si=DWeYHvNm8o-EoH0a
layout: layouts/post-layout-video.njk
permalink: /doc/pre-2001/teaching-04/
tags: ["doc", "pre2001", "teaching"]
categories: ["blog", "video", "workshop"]
---

<p class="text-spacer-1 leading-loose mt-0">In eget condimentum libero. Phasellus rhoncus lobortis ante a dictum. Phasellus sodales ut risus aliquet dapibus. Nunc pulvinar facilisis consequat. Donec nec purus imperdiet, vehicula erat non, sollicitudin libero. Aliquam eu viverra mauris. Morbi consectetur ante ac fringilla condimentum. Quisque ut elit massa. Aenean congue tincidunt dignissim. Quisque vestibulum eget ligula et porta.</p>
<p class="text-spacer-1 leading-loose">Sed consectetur viverra urna id porttitor.</p>