---
title: Teaching 01 The Era of Prestige TV Is Ending. We’re Going to Miss it When It’s Gone.
date: 2000-01-07
excerpt: "Excerpt for Teaching 01 In eget condimentum libero. Phasellus rhoncus lobortis ante a dictum. Phasellus sodales ut risus aliquet dapibus. Nunc pulvinar facilisis consequat. Donec nec purus imperdiet, vehicula erat non, sollicitudin libero. Aliquam eu viverra mauris. Morbi consectetur ante ac fringilla condimentum. Quisque ut elit massa. Aenean congue tincidunt dignissim. Quisque vestibulum eget ligula et porta"
coverPhoto: {
                "webP": "/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "large",
                "figureBackgroundColor": bg-info,
                "figcaption": Back View of Astronauts Holding Hands
            }
layout: layouts/post-layout-no-cover.njk
permalink: /doc/pre-2001/teaching-01/
tags: ["doc", "pre2001", "teaching"]
categories: ["blog", "philosophy"]
---

<p class="text-spacer-1 leading-loose mt-0">In eget condimentum libero. Phasellus rhoncus lobortis ante a dictum. Phasellus sodales ut risus aliquet dapibus. Nunc pulvinar facilisis consequat. Donec nec purus imperdiet, vehicula erat non, sollicitudin libero. Aliquam eu viverra mauris. Morbi consectetur ante ac fringilla condimentum. Quisque ut elit massa. Aenean congue tincidunt dignissim. Quisque vestibulum eget ligula et porta.</p>
<p class="text-spacer-1 leading-loose">Sed consectetur viverra urna id porttitor.</p>