---
title: Teaching 02
date: 2000-02-11
excerpt: "Excerpt for Teaching 02 A Short Animation by Hellmut Monz"
coverPhoto: {
                "webP": "/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "small",
                "figureBackgroundColor": "bg-info",
                "figcaption": 4D Toys from miegakure.com
            }
coverVideo: https://www.youtube-nocookie.com/embed/0t4aKJuKP0Q?si=pRyG1NssfeX134T4
permalink: /doc/pre-2001/teaching-02/
tags: ["doc", "pre2001", "teaching"]
categories: ["blog", "video", "course"]
projectDetails:
  Director: "Ali Abbasi"
  Year: 2018
  Genre: "crime, drama, fantasy"
  Duration: "1h 50m"
---

{# NOTE: the layout should be extended this way in order for the blocks/slots to work #}
{% extends 'layouts/post-layout-project-watch.njk' %}

<p class="mt-0">In eget condimentum libero. Phasellus rhoncus lobortis ante a dictum. Phasellus sodales ut risus aliquet dapibus. Nunc pulvinar facilisis consequat. Donec nec purus imperdiet, vehicula erat non, sollicitudin libero. Aliquam eu viverra mauris. Morbi consectetur ante ac fringilla condimentum. Quisque ut elit massa. Aenean congue tincidunt dignissim. Quisque vestibulum eget ligula et porta.</p>
<p>Sed consectetur viverra urna id porttitor.</p>